.displayWallet {
    display: flex;
    width: 35vw;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    border-radius: 8px;
    background-color: #1b212c;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    max-width: 90%; /* Optional: Set a maximum width */
    /* margin: 0 auto; Center the component horizontally */
    color: white;
  }
  
  .displayWallet label {
    font-size: 1.1rem; /* Increase label font size */
    margin-bottom: 0.5rem; /* Add some space after label */
  }
  
  .displayWallet select {
    font-size: 1rem; /* Increase select font size */
    padding: 0.5rem 1rem; /* Adjust padding for better fit */
    border: 1px solid #333; /* Add a border for better visibility */
    border-radius: 4px; /* Add rounded corners */
    margin-bottom: 1rem; /* Add some space after select */
  }
  
  .displayWallet p {
    font-size: 1.2rem; /* Increase paragraph font size */
    margin: 0.5rem 0; /* Adjust margins for better spacing */
  }

  .displayWallet .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Distribute buttons evenly */
  }
  .displayWallet #receivebtn{
    margin-left: 3rem;
  }
  
  .displayWallet button {
    color:white;
    background-color: #2d303d;
    padding: 1rem 2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.2s ease-in-out;
  }
  
  .displayWallet button:hover {
    background-color: #f0f8ff; /* Lighter shade on hover */
    color:black;
  }
  